body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: white;
    color: white;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* overflow: hidden; */
}

canvas {
    /* background-color: green; */
    /* background-image: url('gfx/grass.jpg'); */
    /* display: none; */
    border: 5px solid white;
}

#start-screen {
    margin-top: 0;
}

button {
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #ff5722;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e64a19;
}